@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}

.heading-content{
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
    left: 30%;
}

.heading-content h5{
    font-size: 4em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;
}

.heading-content h1{
    font-size: 5em;
    font-weight: bolder;
    color: #fff;
    font-family: 'Montserrat',  sans-serif;
}

.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ccc;
    word-spacing: 5px;
    letter-spacing: 2px;
}
